version: 2.1

jobs:
  publish:
    docker:
      - image: circleci/node:12.4.0
    steps:
      - run:
          name: Install
          command: npm install
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2
  publish:
    jobs:
      - publish:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: master
