{% extends "_page.njk.html" %}

{% block header %}{% endblock %}

{% block content %}
  <h1>{{ page.heading }}</h1>
  <div class="fb-flow-wrapper">
    {% for flowStep in page.flowSteps %}
    <div class="fb-flow-container">
      {{ callMacro('flowStep', flowStep) }}
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/stylesheets/page.flow-0.0.184.css" />
  <script src="/assets/javascripts/page.flow-0.0.184.js"></script>
{% endblock %}
