{% extends "_base.njk.html" %}

{% macro modeNavLink(content, type, typeLink, pageLink, mode) %}
{% set linkify = mode != type %}
<li class="govuk-link fb-navigation-mode fb-navigation-{{ type }}{% if not linkify %} fb-navigation-mode-current{% endif %}">{% if linkify %}<a href="{{ pageLink }}{% if typeLink or not pageLink %}/{% endif %}{{ typeLink }}">{% endif %}{{ content }}{% if linkify %}</a>{% endif %}</li>
{% endmacro %}

{% macro headerNavLink(text, url, active, options) %}
<li class="govuk-header__navigation-item{% if active %} govuk-header__navigation-item--active{% endif %}{% if options.classes %} {{ options.classes }}{% endif %}"><a class="govuk-header__link" href="{{ url }}"{% if options.target %} target="{{ options.target }}"{% endif %}>{{ text }}</a></li>
{% endmacro %}

{% macro pagesNavLink(text, url, active) %}
<li class="govuk-link {% if active %} fb-navigation-current{% endif %}"><a href="{{ url }}">{{ text }}</a></li>
{% endmacro %}

{% block skipLink %}
  {{ super() }}

{% if page.MODE === 'live' %}
<div class="fb-editor-liveheader">
<a class="govuk-link" href="/admin/flow">Return to Build</a>
</div>
{% else %}
<div class="fb-editor-header--wrapper">
<div class="fb-editor-header">

	{% if req.originalUrl === '/admin/instance/service' %}
	  {% set configurationActive = true %}
	{% elif req.originalUrl === '/admin/category/string' %}
	  {% set contentActive = true %}
	{% else %}
	  {% set buildActive = true %}
	{% endif %}

	<nav class="fb-editorheader--navigation">
		<ul>
		{{ headerNavLink('Build', '/admin/flow', buildActive) }}
		{{ headerNavLink('Content', '/admin/category/string', contentActive) }}
		{{ headerNavLink('Configure', '/admin/instance/service', configurationActive) }}
		{{ headerNavLink('Run form', '/', false) }}
		{{ headerNavLink('Help', 'https://form-builder-user-guide.form.service.justice.gov.uk', false, {target: 'fb-help', classes: 'fb-external fb-external--docs'}) }}
		</ul>
	</nav>

</div>

{% set flowUrl = '/admin/flow' %}
{% set listUrl = '/admin' %}
{% set addPageUrl = '/admin/add/page' %}

{% if req.originalUrl === flowUrl %}{% set flowActive = true %}{% endif %}
{% if req.originalUrl === listUrl %}{% set listActive = true %}{% endif %}
{% if req.originalUrl === addPageUrl %}{% set addPageActive = true %}{% endif %}
{% set addPageMatch = r/admin\/(new|create)\/page.*\/steps\/edit/g %}
{% if addPageMatch.test(req.originalUrl) %}{% set addPageActive = true %}{% endif %}

<nav class="fb-navigation">
<ul>
{% set flowUrl = '/admin/flow' %}
{{ pagesNavLink('Page flow', flowUrl, flowActive) }}
{{ pagesNavLink('Page list', listUrl, listActive) }}
{{ pagesNavLink('Add page', addPageUrl, addPageActive) }}
</ul>
</nav>

{% if page.MODEURL %}
{% set MODEURL = page.MODEURL %}
{% if MODEURL == '/' %}
{% set MODEURL = '' %}
{% endif %}
<nav class="fb-navigation-modes">
<ul>
{{ modeNavLink('Run view', 'live', '', MODEURL, page.MODE) }}
{% if not page.$autoInjected %}
{{ modeNavLink('Properties mode', 'instance', 'instance', MODEURL, page.MODE) }}
{{ modeNavLink('Edit page', 'edit', 'edit', MODEURL, page.MODE) }}
{% else %}
{# <li>Auto-injected page for {{page._repeatableId }}</li> #}
{% endif %}
{{ modeNavLink('Preview', 'preview', 'preview', MODEURL, page.MODE) }}
</ul>
</nav>
{% endif %}
</div>
{% endif %}{# /if page.MODE === 'live' #}

{% if page.adminBack %}
<p class="adminBack"><a class="govuk-link" href="{{ page.adminBack }}">Back</a></p>
{% endif %}

{% endblock %}

{% block header %}

{% if (page.MODE === 'edit') or (page.MODE === 'preview') %}
<div class="content-wrapper content-wrapper-{{ page.MODE }}">
<div class="content-wrapper--inner">
{% endif %}

{% if (page.MODE === 'live') or (page.MODE === 'preview') or (page.MODE === 'flow') %}
{{ super() }}
{% endif %}

{% endblock %}

{% block bodyStart %}
{# Stuff to appear before body #}
{% endblock %}

{% block footer %}
{% if (page.MODE === 'live') or (page.MODE === 'preview') or (page.MODE === 'flow') %}
{{ super() }}
{% endif %}
{% endblock %}

{% block bodyEnd %}

{% if (page.MODE === 'edit') or (page.MODE === 'preview') %}
</div>
</div>
{% endif %}

{{ super() }}

{% endblock %}
